.text-type {
  display: inline-block;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: normal;
}

.text-type__cursor--hidden {
  opacity: 0;
}

